# Copyright DB InfraGO AG and contributors
# SPDX-License-Identifier: Apache-2.0

full_authority:
  - template_directory: jinja/document_templates
    template: icd-interfaces-full_authority.html.j2
    project_id: null # None -> Defaults to Sync Project
    {# status_allow_list: # Only overwrite content when document has this status
      - draft
      - open #}
    heading_numbering: True
    work_item_layouts:
      componentExchange:
        fields_at_start:
          - id
        fields_at_end:
          - context_diagram
      physicalLink:
        fields_at_start:
          - id
        fields_at_end:
          - context_diagram
      physicalActor:
        fields_at_start:
          - id
      physicalComponentActor:
        fields_at_start:
          - id
      physicalComponentNode:
        fields_at_start:
          - id
      physicalComponentBehavior:
        fields_at_start:
          - id
      class:
        show_title: False
        fields_at_end:
          - tree_view
      exchangeItem:
        show_title: False
    instances:
    {%- for pl in model.search("PhysicalLink") %}
    {%- if pl.ends %}
    - polarion_space: Interface Documents
      polarion_name: {{ pl.uuid }}
      polarion_title: "{{ pl.name | safe }}"
      params:
        physical_link: {{ pl.uuid }}
    {%- endif -%}
    {% endfor %}
  - template_directory: jinja/document_templates/logical-architecture
    template: logical-component-full-authority.html.j2
    heading_numbering: True
    work_item_layouts:
      logicalComponent:
        fields_at_start:
          - id
        fields_at_end:
          - context_diagram
          - allocated_functions
      componentExchange:
        fields_at_start:
          - id
        fields_at_end:
          - context_diagram
          - allocated_functional_exchanges
          - exchange_items
      exchangeItem:
        show_title: False
    instances:
    {%- for cmp in model.search("LogicalComponent") %}
    - polarion_space: Logical Component Documents
      polarion_name: {{ cmp.uuid }}
      polarion_title: "{{ cmp.name | safe }}"
      params:
        uuid: {{ cmp.uuid }}
    {% endfor %}

mixed_authority:
  - template_directory: jinja/document_templates/logical-architecture
    heading_numbering: True
    project_id: null
    work_item_layouts:
      text:
        show_title: False
      logicalComponent:
        fields_at_start:
          - id
        fields_at_end:
          - context_diagram
          - allocated_functions
      componentExchange:
        fields_at_start:
          - id
        fields_at_end:
          - context_diagram
          - allocated_functional_exchanges
          - exchange_items
      exchangeItem:
        show_title: False
    sections:
      IcdContent: logical-component-mixed-authority.html.j2
    instances:
      - polarion_space: _default
        polarion_name: Mixed authority showcase
        polarion_title: Mixed authority showcase
        params:
          uuids:
            - c8b78c78-5b11-4fc0-87b7-3ca84622efea # Aircraft
            - d475ed7d-4644-4461-97d4-b52772c9b425 # Ground Operator
            - 4890eae8-7a62-4d7b-bf8a-1590a199eebf # Cabin Crew
            - 181a678c-dca9-46c1-9d18-b5a0c457c0de # Passenger
