# Copyright DB InfraGO AG and contributors
# SPDX-License-Identifier: Apache-2.0

full_authority:
  - template_directory: jinja/document_templates
    template: icd-interfaces-full_auth.html.j2
    heading_numbering: True
    work_item_layouts:
      componentExchange:
        fields_at_start:
          - id
        fields_at_end:
          - context_diagram
      physicalLink:
        fields_at_start:
          - id
        fields_at_end:
          - context_diagram
      physicalActor:
        fields_at_start:
          - id
      physicalComponentActor:
        fields_at_start:
          - id
      physicalComponentNode:
        fields_at_start:
          - id
      physicalComponentBehavior:
        fields_at_start:
          - id
      class:
        show_title: False
        fields_at_end:
          - tree_view
      exchangeItem:
        show_title: False
    instances:
    {%- for pl in model.search("PhysicalLink") %}
    {%- if pl.ends %}
    - polarion_space: Interface Documents
      polarion_name: {{ pl.uuid }}
      polarion_title: "{{ pl.name | safe }}"
      params:
        physical_link: {{ pl.uuid }}
    {%- endif -%}
    {% endfor %}
{# mixed_authority:
  - template_directory: jinja/document_templates
    heading_numbering: True
    project_id: PROJECT_ID
    work_item_layouts:
      text:
        show_title: False
      physicalLink:
        fields_at_start:
          - id
      physicalActor:
        fields_at_start:
          - id
      physicalComponentActor:
        fields_at_start:
          - id
      physicalComponentNode:
        fields_at_start:
          - id
      physicalComponentBehavior:
        fields_at_start:
          - id
      class:
        show_title: False
        fields_at_end:
          - tree_view
      exchangeItem:
        show_title: False
    sections:
      IcdContent: icd-interfaces-mixed_authority.html.j2
    instances:
      - polarion_space: _default
        polarion_name: NAME
        polarion_title: TITLE
        params:
          physical_link: UUID #}
