{#
    Copyright DB InfraGO AG and contributors
    SPDX-License-Identifier: Apache-2.0
#}

{% from 'polarion-props.j2' import
  table_attributes,
  th_attributes,
  td_attributes
%}
{% from 'common-macros.j2' import
  linked_name,
  display_traceability,
  display_property_values
%}

{% set table_class_attribute='class="polarion-Document-table" style="margin: auto;margin-left: 0px;empty-cells: show;border-collapse: collapse;max-width: 1280px;border: 1px solid #CCCCCC;"' %}

{% macro describe_exchange(object) %}
  {%- set source_function = object.source.owner -%}
  {%- set target_function = object.target.owner -%}
  {%- set source = source_function.owner -%}
  {%- set target = target_function.owner -%}
  The {{ linked_name(source) | safe }} shall provide
  {{ linked_name(object) | safe }} to {{ linked_name(target) | safe }} so that
  the {{ linked_name(target) | safe }} could
  {{ linked_name(target_function)| safe }}.
{% endmacro %}

{% set object = model.by_uuid(uuid) %}
{{ heading(1, "Logical Interface " + object.name, session) }}
<workitem id="uuid-field">
  <small style="color: #aaa">UUID: {{ object.uuid }}</small>
</workitem>
{{ heading(2, "Document Purpose", session) }}
<workitem id="purpose">
  <p>
    This document specifies a logical interface between
    {{ linked_name(object.source.owner) | safe }} and
    {{ linked_name(object.target.owner) | safe }}.
  </p>
  <p>
    Its purpose is to explain the need for interface and provide requirements so
    that the interface partners could find an appropriate interface definition
    (solution).
  </p>
{% if object.description -%}
  <p>{{ object.description | safe }}</p>
{%- endif %}
{% if object.summary -%}
  <p>{{ object.summary | safe }}</p>
{%- endif %}
</workitem>
{{ heading(2, "Purpose of the interface", session) }}
<workitem id="interface-purpose">
  <p>
    The figure below provides an overview of the behaviors that depend on this
    interface:
  </p>
</workitem>
{{ insert_work_item(object, session) }}

{% set fchains = object.allocated_functional_exchanges.map("involving_functional_chains") %}
{%
  set
  allocated_functions = object.allocated_functional_exchanges.map("source.owner")
   + object.allocated_functional_exchanges.map("target.owner")
%}
{%- if fchains -%}
  {{ heading(2, "Associated Functional Chains", session) }}
  <workitem id="fchains">
    <p>
      {{ object.name }} can be associated to the following functional chains
      through involvements of functions and interactions.
    </p>
  </workitem>
  {%- set fchain_involved_capabiilities = {} -%}
  {%- for fchain in fchains -%}
    {{ heading(3, fchain.name, session) }}
    {{ insert_work_item(fchain, session) | safe }}
    {%- set involved_caps = model.search("CapabilityRealization").by_involved_chains(fchain) -%}
    {%- if involved_caps -%}
      {{ heading(4, "Involving capabilities", session) }}
      <workitem id="{{fchain.uuid}}-capabilities">
        <ul>
        {%- for cap in involved_caps -%}
          <li>{{ linked_name(cap) | safe }}</li>
        {%- endfor -%}
        </ul>
      </workitem>
    {%- endif -%}
    {{ heading(4, "Involved functions and interactions", session) }}
    <workitem id="{{fchain.uuid}}-functions-table">
      <table {{table_class_attribute}}>
        <thead>
          <tr>
            <th {{th_attributes}}><b>Involved functions</b></th>
            <th {{th_attributes}}><b>Involved interactions</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td {{td_attributes}}>
              <ul>
              {%- for fnc in fchain.involved_functions -%}
                {%- if fnc.uuid in allocated_functions | map(attribute="uuid") -%}
                  <li>{{ linked_name(fnc) | safe }}</li>
                {%- endif -%}
              {%- endfor -%}
              </ul>
            </td>
            <td {{td_attributes}}>
              <ul>
              {%- for link in fchain.involved_links -%}
                {%- if link.uuid in object.allocated_functional_exchanges | map(attribute="uuid") -%}
                  <li>{{ linked_name(link) | safe }}</li>
                {%- endif -%}
              {%- endfor -%}
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </workitem>
  {%- endfor -%}
{%- endif -%}

{% if object.constraints -%}
  {{ heading(2, "Constraints", session) }}
  <workitem id="constraints">
    <ul>
    {%- for constraint in object.constraints -%}
      <li>
        <b>{{ linked_name(constraint) | safe }}</b>:
        {{ constraint.specification["capella:linkedText"] | safe }}
      </li>
    {%- endfor -%}
    </ul>
  </workitem>
{%- endif %}

{%- if object.property_value_groups  -%}
<workitem id="additional-properties">
  {{ display_property_values(object, session, heading="Additional properties") | safe }}
</workitem>
{%- endif %}

<workitem id="traceability">
  {{ display_traceability(object) | safe }}
</workitem>
